{% extends "layout.html" %}
{% block content %}
<div class="card mx-auto my-5" style="max-width:350px">
    <h5 class="card-header">ユーザ登録</h5>
    <div class="card-body">
        <form action="/regist_user" method="POST">
            {% if message != "" %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="username" class="form-control" id="username" name="username" placeholder="username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="check_password" name="check_password" placeholder="PasswordConfirm">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">新規登録</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}