{% extends "layout.html" %}
{% block content %}
<div class="card mx-auto my-2" style="max-width: 50rem;">
    <ul class="list-group list-group-flush">
        {% for count in range(list_data | length) %}
        <li class="list-group-item">
            <div class="card">
                <h5 class="card-header">
                    {{ list_data[count][0] }}
                    ({{ list_data[count][1] }})
                </h5>
                <div class="card-body">
                    {{ list_data[count][2] }}
                </div>
              </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}